<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz 5 Vue JS</title>
  </head>
  <body>
    <template>
      <div>
        <form @submit.prevent="add">
          <input type="hidden" v-model="form.id" />
          <input type="text" v-model="form.name" />
          <button type="submit" v-show="!updateSubmit">add</button>
          <button type="button" v-show="updateSubmit" @click="update(form)">
            Update
          </button>
        </form>
        <ul v-for="user in users" :key="user.idd">
          <li>
            <span>{{user.name}}</span> &#160;
            <button @click="edit(user)">Edit</button> ||
            <button @click="del(user)">Delete</button>
          </li>
        </ul>
      </div>
    </template>

    <script>
      export default {
        data() {
          return {
            users: [
              { name: "Muhammad Iqbal Mubaroq" },
              { name: "Ruby Purwanti" },
              { name: "Faqih Muhammad" },
            ],
            updateSubmit: false,
          };
        },
        mounted() {
          this.load();
        },
        methods: {
          load() {
            axios
              .then((res) => {
                this.users = res.data;
              })
              .catch((err) => {
                console.log(err);
              });
          },
          add() {
            this.load();
            this.form.name = "";
          },
          edit(user) {
            this.updateSubmit = true;
            this.form.id = user.id;
            this.form.name = user.name;
          },
          update(form) {
            return axios

              .then((res) => {
                this.load();
                this.form.id = "";
                this.form.name = "";
                this.updateSubmit = false;
              })
              .catch((err) => {
                console.log(err);
              });
          },
          del(user) {
            this.load();
            let index = this.users.indexOf(form.name);
            this.users.splice(index, 1);
          },
        },
      };
    </script>
  </body>
</html>
